@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  margin: 0;
  font-family: 'Sono', sans-serif;
  color: #293241;
  text-decoration: none;
  /* background-color: #e0fbfc; */
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  width:100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
/* .nav h1 {
  color: #ee6c4d;
} */
.nav .links {
  margin-left: auto;
  padding: 6px;
}
.nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ee6c4d
}
.nav a:hover {
  color: #ffa0af
}

.login-box {
  max-width: 500px;
  margin: 150px auto;
  padding: 20px;
  text-align: center;
  opacity: .6;
  background-color: #B1BCA0;
  border-radius: 6%;
}

.login-form label {
  text-align: left;
  display: block;
}
.login-form h2 {
  font-size: 20px;
  margin: 10px;
}
.login-form input, .login-form textarea {
  font-size: 16px;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  opacity: .6;
  background-color: #B1BCA0;
}
