@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #293241;
  text-decoration: none;
}

.content {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin: auto;
  padding: 20px;
  margin: auto; 
  width: auto; 
  background-color: #e0fbfc;
}
/* LOGIN PAGE */

.login-page {
  margin: auto ; 
  width: auto; 
  height: 1000px; 
  background-color: #e0fbfc;
}

/* LOGIN FORM */

.login-box {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  background-color: #98c1d9;
  border-radius: 8px;
  color: #3d5a80;
  box-shadow: 0px 0px 10px #3d5a80;
}
.login-box h2 {
  font-size: 22px;
  margin: 5px;
  color: #3d5a80
}
.login-box p {
  font-size: 20px;
  color: #293241;
}

.login-form label {
  text-align: left;
  display: block;
  color: #3d5a80
}
.login-form input, .login-form textarea {
  font-size: 16px;
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  /* opacity: .6; */
  background-color: #e0fbfc;
  color: #ee6c4d
}
.login-form button, .login-box button, .newButton {
  background: #3d5a80;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.login-form button:hover, .login-box button:hover, .newButton {
  background-color: #ee6c4d;
  color: #e0fbfc;
}

/* NAVBAR */

.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  width:100%;
  margin: auto;
  background-color: #3d5a80;
  position: sticky; 
  top: 0;
  overflow: hidden;
}
.title {
  font-size: 30px;
}
.nav h1{
  color: #ee6c4d;
  font-size: 30px;
}
.nav .links {
  margin-left: auto;
  padding: 6px;
}
.nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ee6c4d
}
.nav a:hover {
  color: #ffa0af
}
.links h2 {
  color: #e0fbfc;
  font-size: 22px;
  float: right;
}

.links button {
  background: #98c1d9;
  color: #3d5a80;
  border: 0;
  padding: 5px;
  margin: 1px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}
.links button:hover {
  background-color: #ee6c4d;
  color: #e0fbfc;
}

/* HOME PAGE */

.home-page {
  text-align: center;
  margin-top: 60px;
}

.home-page h1 {
  color:#3d5a80
}

.intro-card {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  background-color: #98c1d9;
  border-radius: 8px;
  color: #3d5a80;
  box-shadow: 0px 0px 10px #3d5a80;
}

/* LISTED USERS */

.user-preview {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 10px 8px;
  margin: 30px auto ;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #3d5a80;
  background-color: #98c1d9;
}
.user-preview h2 {
  float: right;
  width: 350px;
  padding-top: 10px;
  padding-left: 8%;
  box-sizing: border-box; 
  text-align: justify;
}
.user-preview h3 {
  float: right;
  width: 350px;
  padding-top: 10px;
  padding-left: 8%;
  /* padding-right: 8%; */
  box-sizing: border-box; 
  text-align: justify;
}
.user-preview h4 {
  float: right;
  width: 350px;
  padding-top: 10px;
  padding-right: 5%;
  /* padding-right: 8%; */
  box-sizing: border-box; 
  text-align: justify;
}
.card-1 h1 {
  width: 200px;
  text-align: center;
}
.user-preview button{
  background: #3d5a80;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.user-preview img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card-1 {
  display: flex;
}
.card-1 img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.check-list {
  font-size: 22px;
  color: #3d5a80
}
.dropdown select {
  background: #3d5a80;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  float: right;
}
.dropdown select:hover {
  background-color: #ee6c4d;
  color: #e0fbfc;
}
.home-page button{
  background: #ee6c4d;
  color: #3d5a80;
  border-radius: 10px;
  font-size: 18px;
  border: 0;
  padding: 6px;
  margin: 6px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
}
.home-page button:hover {
  background-color: #3d5a80;
  color: #e0fbfc;
}
.main button {
  background: #3d5a80;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  border: 0;
  padding: 6px;
  margin: 6px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.main button:hover {
  background-color: #ee6c4d;
  color: #e0fbfc;
}

/* EDIT USER */

.edit-user {
  max-width: 400px;
  margin: 50px auto;
}

/* SELECT ACTIVITIES */

.check-list {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #98c1d9;
  border-radius: 8px;
  text-align: center;
  color: #3d5a80;
  box-shadow: 0px 0px 10px #3d5a80;
}
.check-list div{
  text-align: center;
}
.check-list ul {
  font-size: 16px;
  width: 100%;
  padding: 6px 10px;
  text-align: left;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  /* opacity: .6; */
  background-color: #e0fbfc;
  color: #ee6c4d
}
.check-list button {
  background: #3d5a80;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.check-list button:hover{
  background-color: #ee6c4d;
  color: #e0fbfc;
}